body {
  zoom: 1;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.outer {
  float: left;
  clear: both;
  width: 100%;
}
.inner {
  display: inline;
  float: left;
  width: 97.7777777777778%;
  margin: 0 1.1111111111111%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
  height: 100%;
}
#wrap {
  height: 100%;
  position: absolute;
  top: 0;
  left: 75px;
  right: 27px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #eee;
}
.article-preview-entry h1,
.article-entry h1 {
  font-size: 2em;
}
.article-preview-entry h2,
.article-entry h2 {
  font-size: 1.5em;
}
.article-preview-entry h3,
.article-entry h3 {
  font-size: 1.3em;
}
.article-preview-entry h4,
.article-entry h4 {
  font-size: 1.2em;
}
.article-preview-entry h5,
.article-entry h5 {
  font-size: 1em;
}
.article-preview-entry h6,
.article-entry h6 {
  font-size: 1em;
  color: #999;
}
.article-preview-entry hr,
.article-entry hr {
  border: 1px dashed #ddd;
}
.article-preview-entry strong,
.article-entry strong {
  font-weight: bold;
}
.article-preview-entry em,
.article-entry em,
.article-preview-entry cite,
.article-entry cite {
  font-style: italic;
}
.article-preview-entry sup,
.article-entry sup,
.article-preview-entry sub,
.article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-preview-entry sup,
.article-entry sup {
  top: -0.5em;
}
.article-preview-entry sub,
.article-entry sub {
  bottom: -0.2em;
}
.article-preview-entry small,
.article-entry small {
  font-size: 0.85em;
}
.article-preview-entry acronym,
.article-entry acronym,
.article-preview-entry abbr,
.article-entry abbr {
  border-bottom: 1px dotted;
}
.article-preview-entry ul,
.article-entry ul,
.article-preview-entry ol,
.article-entry ol,
.article-preview-entry dl,
.article-entry dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-preview-entry ul ul,
.article-entry ul ul,
.article-preview-entry ol ul,
.article-entry ol ul,
.article-preview-entry ul ol,
.article-entry ul ol,
.article-preview-entry ol ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-preview-entry ul,
.article-entry ul {
  list-style: disc;
}
.article-preview-entry ol,
.article-entry ol {
  list-style: decimal;
}
.article-preview-entry dt,
.article-entry dt {
  font-weight: bold;
}
.navbar {
  width: 48px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #808080;
  z-index: 1000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-action {
  margin: 0;
  padding: 0;
}
.menu-action>img {
  float: left;
  clear: both;
  margin: 4px 6px;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.header {
  float: left;
  clear: both;
  margin: 40px 0 50px 20px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.article {
  margin: 0 0;
}
.article-inner {
  border-bottom: 1px dashed #d9d9d9;
  overflow: hidden;
}
.article-preview-meta {
  zoom: 1;
}
.article-preview-meta:before,
.article-preview-meta:after {
  content: "";
  display: table;
}
.article-preview-meta:after {
  clear: both;
}
.article-date {
  float: right;
}
.article-category {
  float: left;
  margin-right: 5px;
}
.article-category:before {
  content: "\f02d";
  font-family: FontAwesome;
  padding-right: 4px;
}
.article-header {
  padding: 20px 0 10px 20px;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #555;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #258fb8;
}
.article-preview-entry {
  color: #555;
  padding: 0 20px;
  line-height: 24px;
  font-weight: 200;
}
.article-entry {
  color: #555;
  padding: 0 20px;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry a {
  color: #258fb8;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.4em;
  margin: 1.6em 20px;
  text-align: left;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.6em 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #eee;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #1e7293;
}
.article-preview-footer {
  font-size: 12px;
  line-height: 20px;
  margin: 5px 20px;
  -webkit-font-smoothing: antialiased;
}
.article-preview-footer a {
  color: #999;
  text-decoration: none;
}
.article-preview-footer a:hover {
  color: #555;
}
.article-footer {
  font-size: 12px;
  line-height: 20px;
  border-bottom: 1px dashed #d9d9d9;
  margin: 5px 20px;
  -webkit-font-smoothing: antialiased;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #555;
}
.article-tag-list {
  float: left;
  margin-left: 10px;
  margin-right: 5px;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "\f097";
  font-family: FontAwesome;
  padding-right: 4px;
}
.article-comment-link {
  float: left;
  margin-left: 10px;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 4px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  zoom: 1;
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #555;
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #258fb8;
}
#archive {
  float: left;
  margin-left: 20px;
  width: 90%;
  border-left: 1px solid #000;
}
.archive-item {
  float: left;
  clear: both;
  width: 80%;
  line-height: 20px;
  margin: 5px 0 3px -2px;
  border-left: 3px solid #008000;
}
.archive-date {
  float: left;
  margin-left: 10px;
  color: #999;
}
.archive-title {
  float: left;
  margin-left: 10px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #258fb8;
}
#footer {
  float: left;
  clear: both;
  width: 98%;
  height: 60px;
  padding: 6px 10px;
  border-top: 1px dashed #ddd;
  color: #999;
  margin-top: 50px;
}
.footer-desc {
  float: left;
  font-size: 1.6em;
}
.footer-desc blockquote {
  border-left: 4px solid #008000;
  padding: 0 12px;
  color: #777;
  margin: 15px 0;
}
.footer-info {
  float: right;
  line-height: 1.6em;
  font-size: 0.85em;
  margin: 15px 0;
}
.footer-info a {
  color: #258fb8;
  text-decoration: none;
}
.footer-info a:hover {
  text-decoration: underline;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  zoom: 1;
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
#page-nav {
  margin: 50px 10px;
  background: #ffe;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav a,
#page-nav span {
  padding: 5px 10px;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #555;
  font-weight: bold;
  cursor: default;
}
#page-nav .space {
  color: #ddd;
}
